<p>
    <!-- //TODO replace back -->
    <!-- <mat-card class="example-card" appearance="outlined" (click)="goToBookToEdit(book)"> -->
    <mat-card class="example-card" appearance="outlined" (click)="goToBook(book.id)">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{book.title}}</mat-card-title>
            <mat-card-subtitle>
              
                @for (author of book.authors; track author.id;let last = $last) {
                    {{author.name}}
                    @if (!last) {
                     <span>, </span>
                    }
                } @empty {
                    <!-- TODO add loader -->
                    <!-- <li>There are no items.</li> -->
                }
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <img mat-card-sm-image [src] = "book.coverLink" alt="No image :(", (error)="book.coverLink='placeholder.jpg';">
    <mat-card-content>
        {{book.price}} dollas <br>
        {{book.publishDate.getDate()}}.{{book.publishDate.getMonth()}}.{{book.publishDate.getFullYear()}}
    </mat-card-content>
    </mat-card>
</p>
