<!-- <button (click)="service.g()">Add more data</button> -->
<section>
    <!-- <nav>
        <a routerLink="form">Settings</a>
    </nav> -->
    <!-- <router-outlet /> -->

    <input class = "rounded-input" type="text" placeholder="Filter by city" #filter>
    <button class="primary" (click)="filterResults(filter.value)">Search</button>
  
        
        @if (books$ | async; as books) {
                              <div class="books-grid">

            @for (book of books.content; track book.id) {
            <app-book
                [book] = "book"
            ></app-book>

            } @empty {
                <!-- TODO add loader -->
                <li>There are no items.</li>
            }
                            </div>

        <mat-paginator
        [length]="books.totalElements"
        [pageSize]="books.size"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        (page)="pageEvent($event)"
        aria-label="Select page"
        showFirstLastButtons
        ></mat-paginator>
        <ng-template #loading>Loading…</ng-template>
    }
</section>
