.books-grid {
  display: grid;
  gap: 16px;         
  padding: 10px;             /* space between items */
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  align-items: start;
}

.rounded-input {
  padding: 10px; /* Add some padding for better spacing */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 15px; /* Apply rounded corners */
  outline: none; 
  margin: 10px;
}