.grid {
  display: grid;
  gap: 16px;         
  padding: 10px;           
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  align-items: start;
}

input{
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

button{
  flex: 1;
  padding: 8; 
  margin: 8;
}

/* .rounded-input {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 15px; 
  outline: none; 
  margin: 10px;
} */