<div class="form-container">
    <form>
        <label for="stock">Ammount</label>
        <input type="number" id="stock" [formField]="stockForm.stock" />
        <input matInput placeholder="Warehouses" [matAutocomplete]="WarehousesAuto"
            (input)="onWarehouseSearch($any($event.target).value)" [value]="warehouseSearch()">

        <mat-autocomplete #WarehousesAuto="matAutocomplete" (optionSelected)="onWarehouseSelected($event)" [displayWith]="display">
            @for (warehouse of warehouses$ | async; track warehouse.id) {
            <mat-option [value]="warehouse">{{ warehouse.adress }}</mat-option>
            }
        </mat-autocomplete>

        <div class="chip-row">
            <mat-chip-set>
                @if (selectedWarehouse() != null) {
                <mat-chip (removed)="removeWarehouse(selectedWarehouse()!)">
                    {{ selectedWarehouse()!.adress }}
                    <button matChipRemove>✕</button>
                </mat-chip>
                }

            </mat-chip-set>
        </div>

        <button type="button" [disabled]="!stockForm().valid()" (click)="submitForm()">Submit</button>
    </form>
</div>