
    @if (id != null){
    
    @if (book$ | async; as book) {
        <button (click)="goToBookToEdit(book)">Edit book</button>
        <div class = "row">
            <div class="book-view-container">
                <app-book [book] = "book"
                ></app-book>
            </div>
            <div class ="column">
                <!-- TODO check if none -->
                <button class="primary" matButton="tonal" (click)="addStock()">Add stock</button>
                
                @for (stock of stocks$ | async; track stock.id) {
                    <mat-card class="example-card" appearance="outlined">
                    <mat-card-content>
                        {{stock.warehouse.city.name}}, {{stock.warehouse.adress}} : {{stock.ammount}}                    </mat-card-content>
                    </mat-card>
                }
            </div>
        </div>
        <button class="primary" matButton="tonal" (click)="addReview()">Add reviws</button>
        @for (review of reviews$ | async; track review.id) {
            <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{review.author.name}}</mat-card-title>
                    <mat-card-subtitle>{{review.rating}}/10</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                {{review.contents}}
            </mat-card-content>
            </mat-card>
        } 
    }
    } @else {
        <!-- TODO -->
        <p>No content</p>
    }

