<div class="form-container">
    <form>
<label>Content</label>
<input type="text" [formField]="reviewForm.contents" />
<label>Rating</label>
<input type="number" [formField]="reviewForm.rating" />

<input matInput
    placeholder="Author"
    [matAutocomplete]="authorsAuto"
    (input)="onAuthorSearch($any($event.target).value)"
    [value]="authorSearch()"
    >
    
    <mat-autocomplete #authorsAuto="matAutocomplete"
    (optionSelected)="onAuthorSelected($event)">
    @for (author of authors$ | async; track author.id) {
        <mat-option [value]="author">{{ author.name }}</mat-option>
    }
    </mat-autocomplete>

<button type="button" [disabled]="!reviewForm().valid()" (click)="submitForm()">Submit</button>
</form>

</div>